.main-collapsing
{
    display: none;
    overflow: hidden;
}

@media only screen and (min-device-width: 1200px)
{
    .main > :nth-last-child(3)
    {
        display: block;
        flex: 1;
    }
}

@media only screen and (min-device-width: 800px)
{
    .main > :nth-last-child(2)
    {
        display: block;
        flex: 1;
    }
}

.main > :last-child
{
    display: block;
    flex: 1;
}

