/* specific to this site */

:root
{
    --color-aquamarine: #71eeb8;
    --color-black: #000;
    --color-gray: #222;
    --color-orange: #fa9f28;
    --color-violet: #591C87;
    --color-white: #fff;

    --color-primary: var(--color-aquamarine);
    --color-secondary: var(--color-violet);
    --color-accent: var(--color-orange);

    --color-foreground-default: var(--color-white);
    --color-background-default: var(--color-gray);
    --color-background-well: var(--color-black);
    
}

.btn
{
    background-color: var(--color-background-default);
    border-radius: 5pt;
    border-style: none;
    border-width: 1px;
    color: var(--color-primary);
    cursor: pointer;
    font-size: x-large;
    padding-left: 1em;
    padding-right: 1em;
}
    

.container
{
    background-color: var(--color-background-default);
    color: var(--color-foreground-default);
    height: 100vh;
    overflow: auto;
}

.header
{
    box-shadow: 0 0 10px var(--color-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5pt;
    z-index: 2;
}

.header-small
{
    color: var(--color-foreground-default);
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.h1
{
    color: var(--color-primary);
    display: inline-block;
    padding-right: 1em;
}

.h2 { text-align: center; }

.main
{
    padding-bottom: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 10pt;
}

/* represents the label of a date in the current month of a calendar view */
.span-date-month { color: var(--color-primary); }

.span-date-today
{
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-background-well);
    padding: 1pt;
}

.table-month
{
    table-layout: fixed;
    width: 100%;
} 

.td-date
{
    background-color: var(--color-background-well);
    border-color: var(--color-background-default);
    border-style: solid;
    height: 10ex;
    vertical-align: top;
}
                       
